.rounded{
    border-radius:15px;
}

.centered-element {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
  }

  .page-enter-active {
    transition: opacity 0.25s ease-out;
  }
   
  .page-leave-active {
    transition: opacity 0.25s ease-in;
  }
   
  .page-enter,
  .page-leave-active {
    opacity: 0;
  }