@charset "UTF-8";

//
.l-personal{
padding-top: 80px;

  &__title{
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 1.7;
  text-align: center;
  color: #575656;
  font-weight: bold;
  }

  &__frame{
  width: 1000px;
  margin: 0 auto;
  border: solid #E5E5E5 1px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
  display: table;
  padding: 1em 0;
    dl{
    display: table-row;
      dt,dd{
      display: table-cell;
      }
    }
  }

  dl{
  margin: 0;
  padding: 0;
    dt{
    margin: 0;
    padding: 0 1em 0 0;
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
    text-align: right;
    color: #575656;
    }
    dd{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #575656;
    }
  }
}

