@charset "UTF-8";

//
.l-information{
margin: floor-decimal(15vw * 100 / 375, 2) auto 0;
  &__frame{
  width: floor-decimal(348vw * 100 / 375, 2);
  margin: floor-decimal(25vw * 100 / 375, 2) auto 0;
  padding: floor-decimal(25vw * 100 / 375, 2) 0 floor-decimal(35vw * 100 / 375, 2);
  border: solid #E5E5E5 ceil-decimal(1vw * 100 / 375, 2);
  border-radius: ceil-decimal(4vw * 100 / 375, 2);
  box-sizing: border-box;
  box-shadow: 0px ceil-decimal(3vw * 100 / 375, 2) ceil-decimal(4vw * 100 / 375, 2) rgba(0, 0, 0, 0.16);
  //display: flex;
  }

  &__img{
    img{
      width: 100%;
    }
  }

  &__name{
  //margin-top: floor-decimal(30vw * 100 / 375, 2);
  font-size: floor-decimal(24vw * 100 / 375, 2);
  line-height: 1.6;
  font-weight: 900;
  color: #575656;
  text-align: center;
  }

  &__txt{
  padding: floor-decimal(4vw * 100 / 375, 2) floor-decimal(8vw * 100 / 375, 2) 0;
  font-size: floor-decimal(14vw * 100 / 375, 2);
  line-height: 1.4;
  font-weight: normal;
  text-align: center;
  word-break: break-all;
  }

  &__data{//
  list-style: none;
  width: floor-decimal(328vw * 100 / 375, 2);
  margin: floor-decimal(20vw * 100 / 375, 2) auto 0;
  padding: 0;
  letter-spacing: -0.4em;
  text-align: center;
    li{
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    width: floor-decimal(150vw * 100 / 375, 2);
    margin: 0;
    padding: 0;
    font-size: floor-decimal(14vw * 100 / 375, 2);
    line-height: 1.6;
    font-weight: normal;
    color: #575656;
      &:nth-child(2n){
      margin-left: floor-decimal(10vw * 100 / 375, 2);
      }
      &:nth-child(n+3){
      margin-top: floor-decimal(20vw * 100 / 375, 2);
      }
    }
  }
  .l-information__data + .l-information__data{
  margin-top: floor-decimal(10vw * 100 / 375, 2);
  border: solid #e5e5e5 0;
  border-top-width: 1px;
  padding-top: floor-decimal(10vw * 100 / 375, 2);
  }

  &__rarity{
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5em;
    &--1{
    color: #3498db;
    }
    &--2{
    color: #2ecc71;
    }
    &--3{
    color: #f1c40f;
    }
    &--4{
    color: #e67e22;
    }
    &--5{
    color: #e74c3c;
    }
  }

  &__skill{
    &--type{
    display: block;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
    border-radius: ceil-decimal(4vw * 100 / 375, 2);
    padding: 0 0.5em;
    box-sizing: border-box;
    font-size: floor-decimal(12vw * 100 / 375, 2);
    background: #ccc;
    color: #fff;
    }
  }

  &__action{
  text-align: center;
    &__price{
    font-size: floor-decimal(32vw * 100 / 375, 2);
    line-height: 1.5;
    font-weight: 900;
      input{
      width: 5em;
      border: solid #e5e5e5 1px;
      border-radius: 4px;
      outline: none;
      text-align: center;
      font-weight: 900;
      }
    }

    &__btns{
    //margin-top: floor-decimal(20vw * 100 / 375, 2);
    }
    &__btn{
    width: 12em;
    font-size: floor-decimal(18vw * 100 / 375, 2);
    line-height: 1.5;
    font-weight: 900;
    margin: floor-decimal(10vw * 100 / 375, 2) auto 0;
    border-radius: ceil-decimal(4vw * 100 / 375, 2);
    padding: 0.25em 0 0.45em;
    text-align: center;
    box-shadow: 0px ceil-decimal(3vw * 100 / 375, 2) ceil-decimal(4vw * 100 / 375, 2) rgba(0, 0, 0, 0.16);

    border: solid #3498db 1px;
    background: #3498db;
    color: #fff;
    transition: all 0.3s ease;

    }

  }

}


//
.l-og{
  canvas{
  width: 100vw;
  }
}

//
.l-modal{
position: fixed;
left: 0;
top: 0;
width: 100vw;
height: 100vh;
background: rgba(0,0,0,0.5);

  &__frame{
  position: absolute;
  left: calc(50% - 42.66vw);
  top: calc(50% - 66.67vw);
  width: floor-decimal(320vw * 100 / 375, 2);
  height: floor-decimal(500vw * 100 / 375, 2);
  background: #fff;
  }

  &__icon{
  padding-top: floor-decimal(16vw * 100 / 375, 2);
  text-align: center;
    img{
    width: floor-decimal(49vw * 100 / 375, 2);
    height: floor-decimal(49vw * 100 / 375, 2);
    }
  }

  &__title{
  padding: floor-decimal(6vw * 100 / 375, 2) 0 floor-decimal(8vw * 100 / 375, 2);
  font-size: floor-decimal(24vw * 100 / 375, 2);
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: #575656;
  }

  &__og{
  padding: floor-decimal(10vw * 100 / 375, 2) 0;
  text-align: center;
  background: #eeeeee;
    canvas{
    width: floor-decimal(275vw * 100 / 375, 2);
    }
    #modalImg img{
      width: floor-decimal(250vw * 100 / 375, 2);
      height:floor-decimal(180vw * 100 / 375, 2);
      object-fit: contain;
    }
  }

  &__txt{
  padding-top: floor-decimal(10vw * 100 / 375, 2);
  font-size: floor-decimal(15vw * 100 / 375, 2);
  line-height: 1.5;
  font-weight: normal;
  text-align: center;
  color: #575656;
  }
  // 追加1
  &__txt1{
    padding-top: floor-decimal(20vw * 100 / 375, 2);
    font-size: floor-decimal(10vw * 100 / 375, 2);
    line-height: 1.5;
    font-weight: normal;
    text-align: center;
    color: #575656;
    }

  &__btn{
  width: floor-decimal(240vw * 100 / 375, 2);
  height: floor-decimal(70vw * 100 / 375, 2);
  margin: floor-decimal(10vw * 100 / 375, 2) auto 0;
  border-radius : floor-decimal(4vw * 100 / 375, 2);;
  font-size: floor-decimal(20vw * 100 / 375, 2);
  line-height: floor-decimal(68vw * 100 / 375, 2);
  font-weight: bold;
  text-align: center;
  background : #2D81DA;
  color: #fff;
  }

  &__close{
  padding-top: floor-decimal(30vw * 100 / 375, 2);
  text-align: center;

    &__icon{
    position: relative;
    left: 0;
    top: ceil-decimal(1vw * 100 / 375, 2);
    display: inline-block;
    vertical-align: middle;
    width: 29px;
    height: 29px;
    transform: rotate(45deg);

      &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 14px;
      display: block;
      width: 100%;
      height: 1px;
      background: #575656;
      }
      &::after{
      content: '';
      position: absolute;
      left: 14px;
      top: 0;
      display: block;
      width: 1px;
      height: 100%;
      background: #575656;
      }
    }
    &__txt{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: floor-decimal(20vw * 100 / 375, 2);
    line-height: 1.5;
    color: #575656;
    margin-left: 0.25em;
    }
  }

  &__twitter-share-button {
    text-decoration: none;
    color: white;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}