@charset "UTF-8";

.u-d{
  &--none{
  display: none !important;
  }
}

// Align Support
// --------------------------
.u-align{
  &__c{
  text-align: center !important;
  }
  &__r{
  text-align: right !important;
  }
  &__l{
  text-align: left !important;
  }
}

.u-valign{
  &__m{
  vertical-align: middle !important;
  }
  &__t{
  vertical-align: top !important;
  }
  &__b{
  vertical-align: bottom !important;
  }
}


// Margin Padding Support
// --------------------------
@for $i from 0 through 20 {
  .u-mt#{$i * 5} { margin-top: 5px * $i!important; }
  .u-mr#{$i * 5} { margin-right: 5px * $i!important; }
  .u-mb#{$i * 5} { margin-bottom: 5px * $i!important; }
  .u-ml#{$i * 5} { margin-left: 5px * $i!important; }
  .u-pt#{$i * 5} { padding-top: 5px * $i!important; }
  .u-pr#{$i * 5} { padding-right: 5px * $i!important; }
  .u-pb#{$i * 5} { padding-bottom: 5px * $i!important; }
  .u-pl#{$i * 5} { padding-left: 5px * $i!important; }
}

// Font Size Support
// --------------------------
@for $i from 10 through 40 {
  .u-f#{$i} ,td.u-f#{$i} ,th.u-f#{$i} ,tr.u-f#{$i} td ,tr.u-f#{$i} th{ font-size:1px * $i!important;}
}

.u-obj{
  &--pc{}
  &--sp{
  display: none !important;
  }
}


.u-wba{word-break: break-all;}

.u-cf:after {
content:" ";
display:block;
clear:both;
}
