@charset "UTF-8";

//
.l-information{
  &__frame{
  width: 800px;
  margin: 60px auto 0;
  padding: 25px 0 35px;
  //background-color: rgba(255,0,0,0.2);
  border: solid #E5E5E5 1px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
  text-align: center;
  }
  &__img{
    text-align: center;
    img{
      width: 800px;
      margin-top: 30px;
    }
  }

  &__name{
  font-size: 36px;
  line-height: 1.6;
  font-weight: 900;
  color: #575656;
  }
  &__txt{
  font-size: 14px;
  line-height: 1.6;
  font-weight: normal;
  color: #575656;
  }

  &__data{
  list-style: none;
  margin: 25px 100px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
    li{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    color: #575656;
      &:nth-child(n+2){
      margin-left: 2em;
      }
    }
  }
  .l-information__data + .l-information__data{
  margin-top: 10px;
  border: solid #e5e5e5 0;
  border-top-width: 1px;
  padding-top: 10px;
  }

  &__rarity{
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5em;
    &--1{
    color: #3498db;
    }
    &--2{
    color: #2ecc71;
    }
    &--3{
    color: #f1c40f;
    }
    &--4{
    color: #e67e22;
    }
    &--5{
    color: #e74c3c;
    }
  }

  &__skill{
    &--type{
    display: inline-block;
    //vertical-align: top;
    margin-right: 0.5em;
    border-radius: 4px;
    padding: 0 0.5em;
    box-sizing: border-box;
    font-size: 12px;
    background: #ccc;
    color: #fff;
    }
  }

  &__action{
    &__btn{
    width: 9em;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 900;
    margin: 15px auto;
    border-radius: 4px;
    padding: 0.25em 0 0.45em;
    text-align: center;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
    cursor: pointer;

    border: solid #3498db 1px;
    background: #3498db;
    color: #fff;
    transition: all 0.3s ease;
      &:hover{
      border-color: #99cbed;
      background: #99cbed;
      color: #fff;
      }

    }
  }

}


//
.l-og{
width: 1000px;
height: 525px;
margin: 25px auto 0;
overflow: hidden;

  canvas{
  width: 1000px;
  }
}

//
.l-modal{
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);

  &__frame{
  position: absolute;
  left: calc(50% - 260px);
  top: calc(50% - 250px);
  width: 520px;
  height: 500px;
  background: #fff;
  }

  &__icon{
  padding-top: 20px;
  text-align: center;
    img{
    width: 49px;
    height: 49px;
    }
  }

  &__title{
  padding: 6px 0 8px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: #575656;
  }

  &__og{
  padding: 15px 0;
  text-align: center;
  background: #eeeeee;
    canvas{
    width: 412px;
    }
    img{
      object-fit: contain;
    }
  }

  &__txt{
  padding-top: 15px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  text-align: center;
  color: #575656;
  }
  //追加
  &__txt1{
    padding-top: 10px;
    font-size: 10px;
    line-height: 1.5;
    font-weight: normal;
    text-align: center;
    color: #575656;
    }

  &__btn{
  width: 212px;
  height: 47px;
  margin: 15px auto 0;
  border-radius : 4px;
  font-size: 16px;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  background : #2D81DA;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

    &:hover{
    opacity: 0.5;
    }
  }

  &__close{
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

    &:hover{
    opacity: 0.5;
    }

    &__icon{
    position: relative;
    width: 29px;
    height: 29px;
    transform: rotate(45deg);

      &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 14px;
      display: block;
      width: 100%;
      height: 1px;
      background: #575656;
      }
      &::after{
      content: '';
      position: absolute;
      left: 14px;
      top: 0;
      display: block;
      width: 1px;
      height: 100%;
      background: #575656;
      }
    }
  }

}

//Vuetifyのデフォルトを上書きしました。
.v-input__control{
  margin: 0 auto;
}
