@charset "UTF-8";

.l-footer{
width: 100%;
margin-top: floor-decimal(60vw * 100 / 375, 2);
padding-bottom: floor-decimal(60vw * 100 / 375, 2);
background: #575656;
color: #fff;


  &__company{
  position: relative;
  padding-top: floor-decimal(40vw * 100 / 375, 2);
  font-size: floor-decimal(14vw * 100 / 375, 2);
  line-height: 1.5;
  text-align: center;
    a{
      &:link,&:visited{
      color: #fff;
      text-decoration: none;
      transition: all 0.3s ease;
      }
      &:hover{
      color:#3498db;
      }
    }
  }

  &__links{
  font-size: floor-decimal(14vw * 100 / 375, 2);
  line-height: 1.5;
  text-align: center;
  }
  &__title{
  padding-top: floor-decimal(20vw * 100 / 375, 2);
  font-size: floor-decimal(14vw * 100 / 375, 2);
  line-height: 1.5;
  font-weight: bold;
  }
  &__item{
    a{
      &:link,&:visited{
      color: #fff;
      text-decoration: none;
      transition: all 0.3s ease;
      }
      &:hover{
      color:#3498db;
      }
    }
  }

  &__note{
  display: inline-block;
  vertical-align: bottom;
  font-size: floor-decimal(10vw * 100 / 375, 2);
  margin-left: 0.5em;
  }

}
